<div class="container">
  <h2>Inventory List</h2>

  <!-- Loading Spinner -->
  <div *ngIf="loading" class="spinner">
    <mat-spinner diameter="50"></mat-spinner> <!-- Angular Material spinner -->
    <p>Loading inventory items...</p>
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <!-- Inventory Table -->
  <table class="table table-bordered" *ngIf="!loading && !errorMessage">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Item No</th>
        <th scope="col">Material Name</th>
        <th scope="col">Description</th>
        <th scope="col">UOM</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Total Price</th>
        <th scope="col">Supplier</th>
        <th scope="col">Location</th>
        <th scope="col">Notes</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ task.itemNo }}</td>
        <td>{{ task.materialName }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.unit }}</td>
        <td>{{ task.quantity }}</td>
        <td>{{ task.unitPrice }}</td>
        <td>{{ task.totalCost }}</td>
        <td>{{ task.supplier }}</td>
        <td>{{ task.location }}</td>
        <td>{{ task.notes }}</td>
        <td>
          <div class="button-group">
            <button class="custom-btn success small" (click)="editInventory(task)">Edit</button>
            <button class="custom-btn danger small" (click)="deleteInventory(task._id, i)">Delete</button>
          </div>



        </td>


      </tr>
    </tbody>
  </table>
</div>