<!-- Loading Spinner -->
<div *ngIf="loading" class="spinner">
    <mat-spinner diameter="50"></mat-spinner> <!-- Angular Material spinner -->
    <p>Loading progress item...</p>
</div>

<!-- Error Message -->
<div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
</div>

<table class="table table-bordered" *ngIf="!loading && !errorMessage">
    <thead>
        <tr>
            <th scope="col">SL.</th>
            <th scope="col">Type</th>
            <th scope="col">AssingTo</th>
            <th scope="col">Payment</th>

            <th scope="col">Percentage</th>

            <th scope="col">Starts</th>
            <th scope="col">EndDate</th>
            <th scope="col">remarks</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let progress of progress; let i = index">
        <tr>
            <th scope="row">{{i+1}}</th>

            <td>{{progress.type}}</td>
            <td>{{progress.vendor}}</td>
            <td>{{ progress.payment}}</td>
            <td>{{ progress.percentage}}</td>

            <td>{{ progress.starts}}</td>
            <td>{{ progress.expectedDate}}</td>
            <td>{{progress.remarks}}</td>
            <td>
                <button class="btn btn-danger btn-sm " (click)="progress_delete(progress)">Delete</button>
                <button class="btn btn-info btn-sm" (click)="edit(progress)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>