.btn-edit {
    background-color: #6f42c1; /* purple */
    color: white;
}

.btn-edit:hover {
    background-color: #5a32a3;
}

.btn-show {
    background-color: #17a2b8; /* teal */
    color: white;
}

.btn-show:hover {
    background-color: #117a8b;
}
