<!-- Loading Spinner -->
<div *ngIf="loading" class="spinner">
  <mat-spinner diameter="50"></mat-spinner> <!-- Angular Material spinner -->
  <p>Loading inventory items...</p>
</div>

<!-- Error Message -->
<div *ngIf="errorMessage" class="error-message">
  <p>{{ errorMessage }}</p>
</div>
<table class="table table-bordered" *ngIf="!loading && !errorMessage">
  <thead>
    <tr>
      <th scope="col">SL.</th>
      <th scope="col">Supplied Vendor</th>
      <th scope="col">Material Name</th>
      <th scope="col">Available Quantity</th>

      <th scope="col">Issued Quantity</th>

      <th scope="col">Required Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">UOM</th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>



    </tr>
  </thead>
  <tbody *ngFor="let task of tasks; let i = index">
    <tr>
      <th scope="row">{{i+1}}</th>

      <td>{{task.suppliedVendor}}</td>
      <td>{{task.materialName}}</td>
      <td>{{ task.availableQuantity}}</td>
      <td>{{ task.issuedQuantity}}</td>

      <td>{{ task.requiredQuantity}}</td>
      <td>{{ task.price}}</td>

      <td>{{ task.unitofMeasurement}}</td>
      <td>{{ task.date}}</td>
      <td>
        <button class="btn btn-sm btn-edit" (click)="edit(task)">Edit</button>
        <!-- <button class="btn btn-danger btn-sm">Show</button> -->
      </td>
    </tr>
  </tbody>
</table>