<div class="container">
    <h2>Add New Project</h2>

    <form (ngSubmit)="addNewPlan(newPlanForm.value)" #newPlanForm="ngForm">

        <!-- Type -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Type</mat-label>
            <input matInput type="text" id="type" name="type" ngModel required>
        </mat-form-field>

        <!-- Status -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Status</mat-label>
            <input matInput type="text" id="status" name="status" ngModel required>
        </mat-form-field>

        <!-- Percentage -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Percentage</mat-label>
            <input matInput type="number" id="percentage" name="percentage" ngModel required>
        </mat-form-field>

        <!-- Remarks -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Remarks</mat-label>
            <input matInput type="text" id="remarks" name="remarks" ngModel required>
        </mat-form-field>

        <!-- Payment -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Payment</mat-label>
            <input matInput type="number" id="payment" name="payment" ngModel required>
        </mat-form-field>

        <!-- Expected Date -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Expected Date</mat-label>
            <input matInput [matDatepicker]="expectedDatePicker" ngModel name="expectedDate" required />
            <mat-datepicker-toggle matSuffix [for]="expectedDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #expectedDatePicker></mat-datepicker>
        </mat-form-field>

        <!-- Vendor -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Vendor</mat-label>
            <input matInput type="text" id="vendor" name="vendor" ngModel required>
        </mat-form-field>

        <button class="btn btn-success btn-lg btn-block my-3 py-3 font-weight-bold text-uppercase" type="submit"
            [disabled]="newPlanForm.invalid">
            Add Project
        </button>

    </form>
</div>