<mat-card class="mt-4 p-4" style="width: 30rem; margin-left: 160px;">
    <form [formGroup]="taskForm" (ngSubmit)=" addNewProgress()">
        <div class="d-flex flex-column gap-3">

            <!-- Task Name -->
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Activity</mat-label>
                <input matInput formControlName="type" required />
            </mat-form-field>

            <!-- percentage -->

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>percentage</mat-label>
                <input matInput formControlName="percentage" required />
            </mat-form-field>


            <!-- Task Type -->
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>payment</mat-label>
                <input matInput formControlName="payment" required />
            </mat-form-field>

            <!-- vender -->
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Vendor</mat-label>
                <input matInput formControlName="vendor" required />
            </mat-form-field>

            <!-- Start Date -->
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="startPicker" formControlName="start" required />
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>

            <!-- Due Date -->
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Expected Date</mat-label>
                <input matInput [matDatepicker]="duePicker" formControlName="expectedDate" required />
                <mat-datepicker-toggle matSuffix [for]="duePicker"></mat-datepicker-toggle>
                <mat-datepicker #duePicker></mat-datepicker>
            </mat-form-field>
            <!-- remark -->
            <!-- Remark -->
            <label class="font-medium text-gray-700 self-start mt-2">Remark</label>
            <mat-form-field appearance="outline" class="w-full">
                <textarea matInput formControlName="remark" rows="3" required></textarea>
            </mat-form-field>
            <!-- Submit Button -->
            <div class="text-end ">
                <button mat-raised-button color="accent" type="submit">
                    Add Progress
                </button>
            </div>
        </div>
    </form>
</mat-card>