<div class="table-responsive-custom">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Project Name</th>
                <th>Location</th>
                <th>Type Name</th>
                <th>Project</th>
                <th>Task</th>
                <th>Progress</th>
                <th>Material</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects; let i = index">
                <td class="res">{{ i + 1 }}</td>
                <td class="res">{{ project.projectName }}</td>
                <td class="res">{{ project.location }}</td>
                <td class="res">{{ project.typeName }}</td>
                <td class="btn_project">
                    <button class="btn btn-danger btn-sm" (click)="deleteProject(project._id)">Delete</button>
                    <button class="btn btn-info btn-sm" (click)="updateProject(project._id)">Update</button>
                </td>
                <td class="btn_view">
                    <button class="btn btn-success btn-sm" (click)="task_view(project._id)">View</button>
                    <button class="btn btn-warning btn-sm" style="margin-left: 10px;"
                        (click)="task_add(project._id)">Add</button>
                </td>
                <td class="btn_progress">
                    <button class="btn btn-success btn-sm" (click)="progress_view(project._id)">View</button>
                    <button class="btn btn-warning btn-sm" style="margin-left: 10px;"
                        (click)="progress_add(project._id)">Add</button>
                </td>
                <td class="btn_materail">
                    <button class="btn btn-success btn-sm" (click)="materail_view(project._id)">View</button>
                    <button class="btn btn-warning btn-sm" style="margin-left: 10px;"
                        (click)="material_add(project._id)">Add</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>