<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Project Name</th>
            <th>Location</th>
            <th>Type Name</th>
            <th>Action</th>
            <th>Task</th>
            <th>Progress</th>
            <th>Material</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects; let i = index">
            <td>{{project._id }}</td>
            <td>{{ project.projectName }}</td>
            <td>{{ project.location }}</td>
            <td>{{ project.typeName }}</td>
            <td>
                <button class="btn btn-danger btn-sm" (click)="deleteProject(project._id)">Delete</button>
            </td>
            <td>
                <button class="btn btn-success btn-sm " (click)="task_view(project._id)">View</button>
                <button class="btn btn-warning btn-sm" style="margin-left: 10px;"
                    (click)="task_add(project._id)">Add</button>

            </td>
            <td>

                <button class="btn btn-warning btn-sm" style="margin-left: 10px;"
                    (click)="progress_add(project._id)">Add</button>
                <button class="btn btn-success btn-sm " (click)="progress_view(project._id)">View</button>
            </td>
            <td>
                <button class="btn btn-warning btn-sm" style="margin-left: 10px;"
                    (click)="material_add(project._id)">Add</button>
                <button class="btn btn-success btn-sm " (click)="materail_view(project._id)">View</button>
            </td>
        </tr>
    </tbody>
</table>