.dashboard-card {
    border-radius: 16px;
    padding: 20px;
    min-height: 160px;
}

.dashboard-card h6 {
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.dashboard-card h4 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
}

.dashboard-card .icon {
    font-size: 36px;
    padding: 12px;
    background: white;
    color: inherit;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.dashboard-card small {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.9);
}

.col-md-2,
.col-md-3 {
    flex: 0 0 auto;
    width: 18%;
}

@media (max-width: 768px) {

    .col-md-2,
    .col-md-3 {
        width: 100% !important;
    }
}


.demo-inline-calendar-card {
    width: 300px;
}