<!-- Topbar -->
<!-- <nav class="navbar navbar-expand bg-success px-4 text-white" style="height: 70px;">
  <div class="container-fluid">
    <span class="navbar-brand fw-bold text-white"></span>
    <div class="search-container">
      <select class="custom-select" [(ngModel)]="selectedCategory" (change)="onCategoryChange()">
        <option value="" disabled selected>Select</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
  
      <input type="text" class="custom-input" [(ngModel)]="searchText"
        placeholder="Search..." (input)="filterFoods()" list="foodList" />
      <datalist id="foodList">
        <option *ngFor="let food of filteredFoods" [value]="food.viewValue">{{ food.viewValue }}</option>
      </datalist>
      <button mat-icon-button style="position: relative; bottom: -7px; color: green;" mat-icon-button class="search-button">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button class="buttonClass mr-1" [matMenuTriggerFor]="menu" style="position: relative; bottom: -5px;">
        <mat-icon class="menuicon mx-1">account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goToProfile()">
          <mat-icon class="menuicon mx-1">account_circle</mat-icon>Profile
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon class="menuicon mx-1">logout</mat-icon>Logout
        </button>
      </mat-menu>
    </div>
  </div>
</nav> -->

<!-- Main Layout: Sidebar + Content -->
<!-- <div class="d-flex" style="height: calc(100vh - 70px);"> -->
<!-- Sidebar -->
<!-- <div class="bg-light p-3" style="width: 250px;">
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Users</a></li>
    </ul>
  </div> -->

<!-- Main Content Area -->
<!-- <div class="flex-fill p-3">
    <router-outlet></router-outlet>
  </div> -->
<!-- </div> -->

<p>dashboard works!</p>